# 1. Read and write simple text files

A text file `addition.txt` contains a number in each line. Write a python code that

## 1.1. Reads all numbers

In [4]:
file_path =  'data/addition.txt'
with open(file_path,'r') as fp:
    line = fp.readline()
    while line:
        print(str(line).strip())
        line = fp.readline()

2
3
5

10

## 1.2. Calculats their sum

In [5]:
total = 0 

with open(file_path,'r') as fp:
    line = fp.readline()
    while line:
        if line != "\n": 
            number = int(str(line).strip())
            total += number
            line = fp.readline()
        else: 
            line = fp.readline()
print(total)

20

## 1.3 Writes the sum at the bottom of the text file

In [9]:
with open(file_path,'a') as fp:
    fp.write('Total sum is: ' + str(total))

# 2. Pandas

In this part, you will practice loading and exploring a data set from Netflix.

## 2.1. Dataset

Read the [Netflix dataset](https://www.kaggle.com/datasets/luiscorter/netflix-original-films-imdb-scores)

In [13]:
import pandas as pd

file_path = 'data/NetflixOriginals.csv'
df = pd.read_csv(file_path)
df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd2 in position 7431: invalid continuation byte

Solution to the encoding problem [here](https://www.kaggle.com/code/paultimothymooney/how-to-resolve-a-unicodedecodeerror-for-a-csv-file/notebook)

In [36]:
import chardet
with open(file_path,'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

df = pd.read_csv(file_path,encoding='Windows-1252')
# YOUR CODE HERE

## 2.2 Show the first 3 rows

In [37]:
df.iloc[0:3]

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian

## 2.3. Show the last 5 rows

In [48]:
df.iloc[-6:-1]

,Title,Genre,Premiere,Runtime,IMDB Score,Language
578,Ben Platt: Live from Radio City Music Hall,Concert Film,"May 20, 2020",85,8.4,English
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese

## 2.4. Show the title and the genre of the 100th movie in the database?

In [55]:
df.iloc[99,0:2]

Title    Game Over, Man!
Genre      Action/Comedy
Name: 99, dtype: object

## 2.5. Set the column Title as index for the dataset.

In [62]:
df.set_index('Title', inplace=True)

KeyError: "None of ['Title'] are in the columns"

Show the first 5 rows

## 2.6. How many movies are there in the dataset?

In [67]:
df.count()

Genre         584
Premiere      584
Runtime       584
IMDB Score    584
Language      584
dtype: int64

## 2.7. For each movie, what information are available?

In [ ]:
# YOUR CODE HERE

## 2.8. What is the highest IMDB score in the dataset?

In [68]:
df['IMDB Score'].max()

9.0

## 2.9. Which movies are scored the highest?

In [92]:
df[
    df['IMDB Score'] > 8
]

,Genre,Premiere,Runtime,IMDB Score,Language
Title,,,,,
Chasing Coral,Documentary,"July 14, 2017",89,8.1,English
My Octopus Teacher,Documentary,"September 7, 2020",85,8.1,English
Rising Phoenix,Documentary,"August 26, 2020",106,8.1,English
13th,Documentary,"October 7, 2016",100,8.2,English
Disclosure: Trans Lives on Screen,Documentary,"June 19, 2020",107,8.2,English
Klaus,Animation/Christmas/Comedy/Adventure,"November 15, 2019",97,8.2,English
Seaspiracy,Documentary,"March 24, 2021",89,8.2,English
The Three Deaths of Marisela Escobedo,Documentary,"October 14, 2020",109,8.2,Spanish
Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
Ben Platt: Live from Radio City Music Hall,Concert Film,"May 20, 2020",85,8.4,English
Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

## 2.10. What is the lowest IMDB score?

In [93]:
df['IMDB Score'].min()

2.5

## 2.11. What movies are scored the lowest?

## 2.12. Consider only-English-language movies, find those that are scored above their average score

In [133]:
English_movie = df[
    df['Language'] == 'English'
]

English_movie
avg = English_movie["IMDB Score"].mean()
print(avg)

English_movie_above_avg = English_movie[(English_movie['IMDB Score'] > avg)]
English_movie_above_avg
# print(df['IMDB Score'].mean())
# English = df.groupby(df.Language== 'English')
# avg_English = English['IMDB Score'].mean()
# print(avg_English)

# English[
#     English['IMDB Score'] == avg_English
# ]

6.380049875311723

,Genre,Premiere,Runtime,IMDB Score,Language
Title,,,,,
"Ariana Grande: Excuse Me, I Love You",Concert Film,"December 21, 2020",97,6.4,English
ARQ,Science fiction/Thriller,"September 16, 2016",88,6.4,English
First Match,Sports-drama,"March 30, 2018",102,6.4,English
Fractured,Thriller,"October 11, 2019",100,6.4,English
Irreplaceable You,Drama,"February 16, 2018",96,6.4,English
...,...,...,...,...,...
Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
Ben Platt: Live from Radio City Music Hall,Concert Film,"May 20, 2020",85,8.4,English
Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

## 2.13. (Optional) Is there a correlation between runtime and IMDB score?

## 2.14 How many languages available?

In [136]:
len(df['Language'].unique())
# df.groupby('Language').size()

38

## 2.15. Extract all action movies. Save them into a csv file 'action_movies.csv'

In [193]:
genre = df.groupby('Genre')
Action_movies = genre.get_group('Action')
Action_movies.to_csv('action_movies.csv', index=False)

## 2.16. For each genre of movies, answer the following question
- How many movies are available in the dataset?

In [188]:
genre.size()

Genre
Action              7
Action comedy       5
Action thriller     1
Action-adventure    1
Action-thriller     3
                   ..
War                 2
War drama           2
War-Comedy          1
Western             3
Zombie/Heist        1
Length: 115, dtype: int64


- What are their average score?

In [202]:
avg_score = df.groupby('Genre')['IMDB Score'].mean()
print(avg_score)



# max(df.groupby('Genre')['IMDB Score'].agg('mean'))

Genre
Animation/Christmas/Comedy/Adventure    8.200000
Musical / Short                         7.700000
Concert Film                            7.633333
Anthology/Dark comedy                   7.600000
Animation / Science Fiction             7.500000
                                          ...
Superhero-Comedy                        4.400000
Political thriller                      4.300000
Horror anthology                        4.300000
Musical/Western/Fantasy                 3.900000
Heist film/Thriller                     3.700000
Name: IMDB Score, Length: 115, dtype: float64

## 2.17. On average, what type of movies scores the highest?

In [205]:
avg_score = df.groupby('Genre')['IMDB Score'].mean().sort_values(ascending=False)
print(avg_score)

Genre
Animation/Christmas/Comedy/Adventure    8.200000
Musical / Short                         7.700000
Concert Film                            7.633333
Anthology/Dark comedy                   7.600000
Animation / Science Fiction             7.500000
                                          ...
Superhero-Comedy                        4.400000
Political thriller                      4.300000
Horror anthology                        4.300000
Musical/Western/Fantasy                 3.900000
Heist film/Thriller                     3.700000
Name: IMDB Score, Length: 115, dtype: float64